*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    font: 1.1em/5.5 Helvetica, sans-serif;
}

body{
    height: 100%;
    width:100%;
    overflow-x: hidden;
}

header{
    width:100vw;
    height:80vh;
}

h1{
    color: #fff;
    size: 5em;
}

@media print{
    h1{
        color:green;
    }

    header{display:none;}
}