#header-svg-container{
    position: absolute;
    width:100%;
    top:0;
    left:0;
    z-index: -1;
    overflow: hidden;
}

#header-bkr{
    width:auto;
    height:45em;
    transform: translateX(-300px);
}
