#header-bkr{
    position: absolute;
    top:0;
    z-index: -1;
    height:800px;
    transform: translateX(-300px);
}

#burger-icon, #burger-menu{
    fill: #fff;
    width:50px;
    height: 50px;
}
